Source: python3-intspan
Maintainer: Nicolas Hainaux <nicolas.hainaux@gmail.com>
Build-Depends: debhelper, dh-python, python3-all, python3-setuptools, tox, python3-pytest, python3-pytest-cov
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.5

Package: python3-intspan
Architecture: all
Description: Sets of integers like 1,3-7,33
Depends: ${python3:Depends}
